/* #window {
  height: 650px;
  text-align: center;
  overflow: hidden;
}
#window img {
  display: inline-block;
  height: 100%;
  margin: 0 -100%;
} */

#window {
  height: 650px;
  position: relative;
  overflow: hidden;
}
#window img {
  position: absolute;
  height: 100%;
  /* margin: 0 -100%; */
  left: 50%;
  transform: translate(-50%, 0);
}

#column {
  background: url("https://s2.ax1x.com/2020/02/17/3PlakR.png") center bottom;
  /* background: url("img/columnBG") center bottom; */
  min-height: 424px;
  overflow: hidden;
  position: relative;
}

#columnBox {
  overflow: hidden;
  background-color: #0d1113d2;
  height: 90%;
  width: 95%;
  margin: 1% auto;
  max-width: 910px;
}
#columnTitle{
  margin: 24px auto 5px auto;
  padding-bottom: 10px;
  width: 100%;
  max-width: 400px ;
  border-bottom:1px solid #abbbaa;
}
#columnTitle h2{
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #e5e3ce;
}
#columnTitle+p{
  font-size: 10px;
  line-height: 10px;
  font-weight: 300;
  text-align: center;
  color: #979685;
}

#columnContent{
  margin: 20px 10px;
  position: relative;
  overflow: hidden;
}
#columnSelfie{
  width: 25%;
  height: 100%;
  /* min-width: 200px; */
  min-height: 270px;
  min-width: 220px;
  position: relative;
  /* position: absolute;
  top: 50%;
  transform: translate(0, -50%);*/
  /* overflow: hidden;  */
}
#columnSelfie img{
  box-sizing: border-box;
  width: 100%;
  /* min-width: 160px; */
  max-width: 160px;
  padding: 8px;
  border: 5px solid #353c35;
  background-color: whitesmoke;
  position: absolute;
  top: 50%;
  /* left: 50%; */
  right: 0;
  transform: translate(0, -50%);
  /* margin-right: 85px; */
}
#columnContent ul{
  position: relative;
  width: 75%;
  min-width: 336px;
}
#columnContent li{
  margin: 15px 0;
  position: relative;
}
#columnContent li div{
  width:20%;
  min-width: 75px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#columnContent li h3{
  float: right;
  font-size: 30px;
  line-height: 30px;
  color: #95977c;
  min-width: 60px;
  margin-right: 7px;
}
#columnContent li img{
  float: right;
  /* position: absolute;
  top: 50%;
  left: 22%;
  transform: translate(0, -50%); */
}
#columnContent li p {
  float: right;
  font-family: 思源黑体;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  max-height: 90px;
  overflow: auto;
  color: #eff7ef;
  width: 75%;
  margin-left: 10px;
}
