/* 重置css */

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #6a7c6e;
}

a:hover {
  color: #c9dfd3;
}

img {
  display: block;
}

html body {
  font-family: 思源宋体, 思源黑体, 微软雅黑, 宋体, Arial;
  overflow-x: hidden;
  width: 100%;
}

/* 开始操作 */

.l {
  float: left;
}

.r {
  float: right;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.containerFluid {
  width: 100%;
}

.container {
  margin: 0 auto;
}

#head {
  position: sticky;
  top: 0px;
  /* position: fixed; */
  z-index: 10;
  background-color: #3b423b;
  /* height: 70px; */
  box-shadow: 0 20px/*偏移量*/
  75px/* 模糊距离 */
  20px/* 阴影尺寸 */
  black;
}

#logo {
  margin-left: 2%;
  /* height: 68.5px; */
  max-width: 400px;
}

#logo h1 {
  /* line-height: 70px; */
  font-size: 40px;
  font-family: 思源宋体, 宋体;
  color: #aabcb2;
  font-weight: 900;
}

#logo h1 :hover {
  color: #d4dad7;
}

#logo p {
  position: relative;
  top: 7px;
  left: 8px;
  color: #eff2f0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 200;
  font-family: 思源黑体;
  margin: 0;
}

#head ul {
  float: right;
  margin: 20px 40px 25px 0px;
}

#head ul li {
  float: left;
  line-height: 18px;
  padding: 0 21px;
  border-left: 1px solid #6a7c6e;
  font-family: 思源黑体，微软雅黑, 黑体;
}

#head ul:last-child {
  border-right: 1px solid #6a7c6e;
}

#head ul li a {
  color: #6a7c6e;
}

#foot {
  z-index: 10;
  background-color: #3b423b;
  /* height: 70px; */
  box-shadow: 0 -10px/*偏移量*/
  50px/* 模糊距离 */
  5px/* 阴影尺寸 */
  black;
  min-height: 35px;
  text-align: center;
  overflow: hidden;
}

#foot p {
  color: #d6e0da;
  font-size: 10px;
  font-weight: 200;
  margin: 5px auto 10px auto;
}

#links {
  width: 100%;
  margin: 0 auto;
}
#links h2 {
  font-size: 16px;
  line-height: 28px;
  padding: 0;
  border: 0;
  margin: 0;
  color: #e5e3ce;
}

/* #links a{
  color: #eff2f0;
  font-size: 14px;
  font-weight: 200;
  margin: 0 auto 0 auto;
} */

#links ul {
  overflow: hidden;
  max-width: 400px;
  width: 70%;
  margin: 5px auto 2px auto;
  border-right:  #6a7c6e solid 1px;
  border-left:  #6a7c6e solid 1px;
}

#links ul li {
  float: left;
  font-size: 12px;
  line-height: 14px;
  font-weight: 200;
  box-sizing: border-box;
  width: 33.3%;
  height: 100%;
  margin: 0 28px 0 28px;
  border-left: #6a7c6e solid 1px;
  margin: 0 auto;
}
#links ul li:first-of-type{
  border-left: #6a7c6e solid 0px;
}