/* 重置css */

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #6a7c6e;
}

img {
  display: block;
}

body {
  font-family: 思源宋体, 思源黑体, 微软雅黑, 宋体, Arial;
}

/* 开始操作 */

.l {
  float: left;
}

.r {
  float: right;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.containerFluid {
  width: 100%;
}

.container {
  margin: 0 auto;
}

#head {
  position: sticky;
  top: 0px;
  /* position: fixed; */
  z-index: 10;
  background-color: #3b423b;
  /* height: 70px; */
  box-shadow: 0 10px/*偏移量*/
  50px/* 模糊距离 */
  5px/* 阴影尺寸 */
  black;
}

#logo {
  margin-left: 25px;
  /* height: 68.5px; */
  width: 400px;
}

#logo h1 {
  /* line-height: 70px; */
  font-size: 40px;
  font-family: 思源宋体;
  color: #aabcb2;
  font-weight: 900;
}

#logo h1 :hover {
  color: #d4dad7;
}

#logo p {
  position: relative;
  top: 7px;
  left: 8px;
  color: #eff2f0;
  font-size: 16px;
  font-family: 思源黑体;
  font-weight: 200;
  /* height: 70px; */
}

#head ul {
  float: right;
  margin: 20px 40px 25px 0px;
}

#head ul li {
  float: left;
  line-height: 18px;
  padding: 0 21px;
  border-left: 1px solid #6a7c6e;
}

#head ul:last-child {
  border-right: 1px solid #6a7c6e;
}

#head ul li a {
  color: #6a7c6e;
}

#head ul li a:hover {
  color: #c9dfd3;
}