#window {
  height: 650px;
  position: relative;
  overflow: hidden;
  background-color: #101110;
  background: url("https://s2.ax1x.com/2020/02/09/1hzZ5D.jpg") center no-repeat;
  background-size: auto 100%;
}

/* #window img {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  height: 100%;
} */

#myself {
  overflow: hidden;
  position: relative;
  min-height: 424px;
  background: url("https://s2.ax1x.com/2020/02/17/3P8rcV.png") center bottom;
  /* https://s2.ax1x.com/2020/02/17/3PlakR.png */
  /* background: url("img/columnBG") center bottom; */
}

#myselfBox {
  overflow: hidden;
  background-color: #0d1113d2;
  height: 90%;
  width: 95%;
  margin: 1% auto;
  max-width: 960px;
}
#myselfTitle{
  margin: 24px auto 5px auto;
  padding-bottom: 10px;
  width: 100%;
  max-width: 400px ;
  border-bottom:1px solid #abbbaa;
}
#myselfTitle h2{
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #e5e3ce;
}
#myselfTitle+p{
  font-size: 10px;
  line-height: 10px;
  font-weight: 300;
  text-align: center;
  color: #979685;
}

#myselfContent{
  min-height: 270px;
  margin: 20px 10px;
  position: relative;
  overflow: hidden;
}
#myselfSelfie{
  width: 100%;
  height: 240px;
  /* min-width: 200px; */
  max-width: 220px;
  min-width: 220px;
  position: relative;
  /* position: absolute;
  top: 50%;
  transform: translate(0, -50%);*/
  /* overflow: hidden;  */
}
#myselfSelfie img{
  box-sizing: border-box;
  height: 200px;
  padding: 8px;
  border: 5px solid #353c35;
  background-color: whitesmoke;
  position: absolute;
  top: 50%;
  /* left: 50%; */
  right: 0;
  transform: translate(0, -50%);
  /* margin-right: 85px; */
}
#myselfContent ul{
  position: relative;
  width: 100%;
  padding-right: 20px;
  max-width: 660px;
  min-width: 336px;
}
#myselfContent li{
  margin: 15px 0;
  position: relative;
}
#myselfContent li div{
  width:20%;
  min-width: 75px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#myselfContent li h3{
  float: right;
  font-size: 30px;
  line-height: 30px;
  color: #95977c;
  min-width: 60px;
  margin-right: 7px;
}
#myselfContent li img{
  float: right;
  /* position: absolute;
  top: 50%;
  left: 22%;
  transform: translate(0, -50%); */
}
#myselfContent li p {
  float: right;
  font-family: 思源黑体;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  max-height: 90px;
  overflow: auto;
  color: #eff7ef;
  width: 75%;
  margin-left: 10px;
}
